[env]
# Use the project name derived from the current directory
PROJECT_NAME = "{{ config_root | basename }}"

# Automatic virtualenv activation
_.python.venv = { create = true, path = ".venv" }

[tools]
python = "3.14"
uv = "latest"

[tasks.install]
description = "Install dependencies"
alias = "i"
run = "uv sync"

[tasks.info]
description = "Print project information"
run = '''
echo "Project: $PROJECT_NAME"
echo "Virtual Environment: $VIRTUAL_ENV"
'''

[tasks.python]
description = "runs the script you pass on."
run = "python {{arg(name='script')}}"

[tasks.flask_debug ]
description = "runs Flask app with debug turned on"
run = "uv run flask --app app run --debug"

[tasks.test]
description = "Run tests"
alias = "t"
run = "uv run pytest"

[tasks.test-cov]
description = "Run tests with coverage"
run = "uv run pytest --cov"

[settings]
python.uv_venv_auto = true
pipx.uvx = true
